openapi: 3.0.1
info:
  title: Adobe Status API Reference
  description: >
    This guide will help you complete the setup needed to call Status API's. <br /><br />
    
    The following sections contain sample code snippets for generating tokens. Once the setup is complete, you can find the API specs under Events and Registry. 
    All the API's have CLI, Javascript and NodeJS code request samples. <br /><br />
    
    If you chose to use Postman to call the Status API's, please see the section 'Postman Collection'. It has downloadable collection files that you can use to get started. <br /><br />
    
    You will need JWT token and API key to call Status API's. Please find the sample code below.<br />
        
    <SecurityDefinitions />



    # Code Snippets

    ## NodeJS

    - Make sure `node` installed on your machine 

    - Add all required packages into the project eg., `npm install @adobe/jwt-auth` 

    - Get the credentials from the developer console website -> 'Service Accounts(JWT)' credentials page of your project and replace the values in the sample code 

    - Set the location of the private key downloaded during the Adobe Status API onboarding in the developer console


    ```javascript

    const auth = require("@adobe/jwt-auth");

    const fs = require('fs');
    

    // Set the location of your priviate key downloaded during the Status API onboading in the Adobe Developer Console

    const privateKey = fs.readFileSync('data/private.key', 'utf8');


    // Get the credentials from developer console project's setting page

    const credentials = {
        clientId: "80b722-----------cbc3563", //Application ID (Client ID)
        technicalAccountId: "583D1F2E--------494125@techacct.adobe.com", //Technical account ID
        orgId: "44BA--------A494024@AdobeOrg", // Org ID
        clientSecret: "s8e-fo5----------Gxi4Xpsz1", //Client Secret
        metaScopes: ["ent_status_api"], // Metascopes
        privateKey: privateKey
    };

    auth(credentials).then((response) => {
        console.log(response); // access tocken
    });

    ```

    ## Python

    - Below code tested in Python version 3.9

    - Install below packages :

      - `pip3 install PyJWT`

      - `pip3 install "pyjwt[crypto]"`

      - `pip3 install "requests"`

    - Get the credentials from the developer console website -> 'Service Accounts(JWT)' credentials page of your project and replace the values in the sample code 

    - Set the location of the private key downloaded during the Status API onboarding in the developer console


    ```python

    import datetime;

    import json;

    import jwt;

    import os;

    import requests;


    url = 'https://ims-na1.adobelogin.com/ims/exchange/jwt';


    # Replace Organization_ID, Technical_Account_ID and Client_ID with yours

    # which can be obtain from the Adobe Developer Console integration

    jwtPayloadRaw = """{ "iss": "<Organization_ID>", 
                        "sub": "<Technical_Account_ID>", 
                      "https://ims-na1.adobelogin.com/s/ent_status_api": true,
                      "aud": "https://ims-na1.adobelogin.com/c/<Client_ID>"}"""; 


    jwtPayloadJson = json.loads(jwtPayloadRaw);

    jwtPayloadJson["exp"] = datetime.datetime.utcnow() + datetime.timedelta(seconds=30);


    accessTokenRequestPayload = {'client_id': '7028************dd5'  #Your Client ID from the Adobe Developer Console integration
                                ,'client_secret': 'p8******************1ae'};  #Your Client Secret from the Adobe Developer Console integration

    #Set the location of your priviate key downloaded during the Status API onboading in the Adobe Developer Console

    keyfile = open(os.path.join(os.path.expanduser('~'),'data/private.key'),'r'); 


    private_key = keyfile.read();

    jwttoken = jwt.encode(jwtPayloadJson, private_key, algorithm='RS256');

    accessTokenRequestPayload['jwt_token'] = jwttoken;

    result = requests.post(url, data = accessTokenRequestPayload);

    resultjson = json.loads(result.text);

    print(resultjson["access_token"]);

    ```


    for more [JWT sample codes](https://developer.adobe.com/developer-console/docs/guides/authentication/JWT/samples/)


    # Postman Collection 

    - Download Status API postman collection and environment variable from here - [Postman Collection](/adobe-status/postman-collection-and-env.zip)  

    - Import both collection and environment variables into your postman 

    - Replace below credentials with yours and run collection endpoints 

      - CLIENT_ID, TECHNICAL_ACCOUNT_ID , TECHNICAL_ACCOUNT_ID and CLIENT_SECRET  

      - PRIVATE_KEY – Replace private key which is obtained during the Adobe Status API onboarding in the developer console

    ### Environment Variable Reference

    ![alt text](/adobe-status/images/status-api-env.png "Adobe Status API Environment Variable")

    ### Status API Postman Collection Reference

    ![alt text](/adobe-status/images/status-api-collection.png "Adobe Status API Collection")

    ![alt text](/adobe-status/images/status-api-testing.png "Adobe Status API Collection Endpoint Validation")

    # Throttling Policy
    
    We do have a throttling policy in place, we accept up to 50 requests / 5 secs per api-key. Your throttled requests will receive an HTTP Status 429 (Too Many Requests) response with a Retry-After header, following the [RFC 7231](https://tools.ietf.org/html/rfc7231#section-7.1.3) HTTP standard.


  contact:
    name: Status.adobe
    url: https://status.adobe.com
    email: statuscom-adobe-support@adobe.com
  version: '1.0'
servers:
  - url: https://status.adobe.io/
security:
  - Authorization: []
    api_key: []
tags:
  - name: Events
    description: >-
      Query and view all ongoing events, events from the past 40 days, and
      future maintenance, that will impact Adobe Products and Services.
  - name: Registry
    description: Query and view the product taxonomy of Adobe Products and Services.
paths:
  /api/v1/clouds:
    get:
      tags:
        - Registry
      summary: Clouds
      description: List the top-level product families for all Adobe Products and Services.
      operationId: cloudsUsingGET
      parameters:
        - name: cloudId
          in: query
          description: List of cloud ids for which you want to retrieve the cloud detail.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: cloudName
          in: query
          description: Partial or complete cloud name for which you want to retrieve the cloud detail.
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cloud'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
        - lang: cURL
          label: CLI
          source: >-
            curl --location --request GET 'https://status.adobe.io/api/v1/clouds?api_key=<key>&cloudId=<string>' \
            --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: JavaScript
          source: {$ref: code/JS/clouds.js}
        - lang: JavaScript
          label: NodeJS
          source: {$ref: code/Node/clouds.js}
  /api/v1/products:
    get:
      tags:
        - Registry
      summary: Products
      description: List all the Adobe Products and Services across Clouds.
      operationId: productsUsingGET
      parameters:
        - name: cloudId
          in: query
          description: List of cloud ids for which you want to retrieve the events.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: productId
          in: query
          description: List of product ids for which you want to retrieve the product detail.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: productName
          in: query
          description: Partial or complete product name for which you want to retrieve the product detail.
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
        - lang: cURL
          label: CLI
          source: >-
            curl --location --request GET 'https://status.adobe.io/api/v1/products?api_key=<key>&cloudId=<string>&productId=<string>' \
            --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: JavaScript
          source: {$ref: code/JS/products.js}
        - lang: JavaScript
          label: NodeJS
          source: {$ref: code/Node/products.js}
  /api/v1/eventTypes:
    get:
      tags:
        - Registry
      summary: Event Types
      description: >-
        List all the types of events that can impact Adobe Products and
        Services.
      operationId: eventTypesUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
        - lang: cURL
          label: CLI
          source: >-
            curl --location --request GET 'https://status.adobe.io/api/v1/eventTypes?api_key=<key>' \
            --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: JavaScript
          source: {$ref: code/JS/eventtypes.js}
        - lang: JavaScript
          label: NodeJS
          source: {$ref: code/Node/eventtypes.js}
  /api/v1/events:
    get:
      tags:
        - Events
      summary: All Events
      description: >-
        List all ongoing issues and maintenances that are impacting Adobe
        Products and Services.
      operationId: eventsUsingGET
      parameters:
        - name: cloudIds
          in: query
          description: List of cloud ids for which you want to retrieve the events.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: environmentIds
          in: query
          description: List of environmentIds for which you want to retrieve the events.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: from
          in: query
          description: Retrieve the events starting from Date (yyyy-MM-dd format).
          schema:
            type: string
            format: date
        - name: offeringIds
          in: query
          description: List of offeringIds for which you want to retrieve the events.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: productIds
          in: query
          description: List of product ids for which you want to retrieve the events.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: regionIds
          in: query
          description: List of regionIds for which you want to retrieve the events.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: search
          in: query
          description: Product name search
          schema:
            type: string
        - name: serviceIds
          in: query
          description: List of serviceIds for which you want to retrieve the events.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: to
          in: query
          description: Retrieve the events till Date (yyyy-MM-dd format).
          schema:
            type: string
            format: date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
        - lang: cURL
          label: CLI
          source: >-
            curl --location --request GET
            'https://status.adobe.io/api/v1/events?api_key=<key>&cloudIds=<string>&environmentIds=<string>&from=<date>&offeringIds=<string>&productIds=<string>&regionIds=<string>&search=<string>&serviceIds=<string>&to=<date>' \
            --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: JavaScript
          source: {$ref: code/JS/event.js}
        - lang: JavaScript
          label: NodeJS
          source: {$ref: code/Node/event.js}
  /api/v1/events/incidents:
    get:
      tags:
        - Events
      summary: All Issues
      description: List all ongoing issues that are impacting Adobe Products and Services.
      operationId: incidentsUsingGET
      parameters:
        - name: cloudIds
          in: query
          description: List of cloud ids for which you want to retrieve the incidents.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: environmentIds
          in: query
          description: List of environmentIds for which you want to retrieve the incidents.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: from
          in: query
          description: Retrieve the events starting from Date (yyyy-MM-dd format).
          schema:
            type: string
            format: date
        - name: offeringIds
          in: query
          description: List of offeringIds for which you want to retrieve the incidents.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: productIds
          in: query
          description: List of product ids for which you want to retrieve the incidents.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: regionIds
          in: query
          description: List of regionIds for which you want to retrieve the incidents.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: search
          in: query
          description: Product name search
          schema:
            type: string
        - name: serviceIds
          in: query
          description: List of serviceIds for which you want to retrieve the incidents.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: to
          in: query
          description: Retrieve the events till Date (yyyy-MM-dd format).
          schema:
            type: string
            format: date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IncidentDto'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
        - lang: cURL
          label: CLI
          source: >-
            curl --location --request GET 'https://status.adobe.io/api/v1/events/incidents?api_key=<key>&cloudIds=<string>&environmentIds=<string>&from=<date>&offeringIds=<string>&productIds=<string>&regionIds=<string>&search=<string>&serviceIds=<string>&to=<date>' \
            --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: JavaScript
          source: {$ref: code/JS/incident.js}
        - lang: JavaScript
          label: NodeJS
          source: {$ref: code/Node/incident.js}
  /api/v1/events/maintenance:
    get:
      tags:
        - Events
      summary: All Maintenances
      description: >-
        List all ongoing maintenances that are impacting Adobe Products and
        Services.
      operationId: maintenanceUsingGET
      parameters:
        - name: cloudIds
          in: query
          description: List of cloud ids for which you want to retrieve the Maintenance.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: environmentIds
          in: query
          description: >-
            List of environmentIds for which you want to retrieve the
            Maintenance.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: from
          in: query
          description: Retrieve the events starting from Date (yyyy-MM-dd format).
          schema:
            type: string
            format: date
        - name: offeringIds
          in: query
          description: List of offeringIds for which you want to retrieve the Maintenance.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: productIds
          in: query
          description: List of product ids for which you want to retrieve the Maintenance.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: regionIds
          in: query
          description: List of regionIds for which you want to retrieve the Maintenance.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: search
          in: query
          description: Product name search
          schema:
            type: string
        - name: serviceIds
          in: query
          description: List of serviceIds for which you want to retrieve the Maintenance.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: to
          in: query
          description: Retrieve the events till Date (yyyy-MM-dd format).
          schema:
            type: string
            format: date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MaintenanceDto'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
        - lang: cURL
          label: CLI
          source: >-
            curl --location --request GET 'https://status.adobe.io/api/v1/events/maintenance?api_key=<key>&cloudIds=<string>&environmentIds=<string>&from=<date>&offeringIds=<string>&productIds=<string>&regionIds=<string>&search=<string>&serviceIds=<string>&to=<date>' \
            --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: JavaScript
          source: {$ref: code/JS/maintenance.js}
        - lang: JavaScript
          label: NodeJS
          source: {$ref: code/Node/maintenance.js}
  /api/v1/events/scheduled:
    get:
      tags:
        - Events
      summary: All Scheduled Maintenances
      description: >-
        View all upcoming scheduled maintenances that are impacting Adobe
        Products and Services.
      operationId: scheduledUsingGET
      parameters:
        - name: cloudIds
          in: query
          description: List of cloud ids for which you want to retrieve the Maintenance.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: environmentIds
          in: query
          description: >-
            List of environmentIds for which you want to retrieve the
            Maintenance.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: from
          in: query
          description: Retrieve the events starting from Date (yyyy-MM-dd format).
          schema:
            type: string
            format: date
        - name: offeringIds
          in: query
          description: List of offeringIds for which you want to retrieve the Maintenance.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: productIds
          in: query
          description: List of product ids for which you want to retrieve the Maintenance.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: regionIds
          in: query
          description: List of regionIds for which you want to retrieve the Maintenance.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: search
          in: query
          description: Product name search
          schema:
            type: string
        - name: serviceIds
          in: query
          description: List of serviceIds for which you want to retrieve the Maintenance.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
        - name: to
          in: query
          description: Retrieve the events till Date (yyyy-MM-dd format).
          schema:
            type: string
            format: date
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MaintenanceDto'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
        - lang: cURL
          label: CLI
          source: >-
            curl --location --request GET 'https://status.adobe.io/api/v1/events/scheduled?api_key=<key>&cloudIds=<string>&environmentIds=<string>&from=<date>&offeringIds=<string>&productIds=<string>&regionIds=<string>&search=<string>&serviceIds=<string>&to=<date>' \
            --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: JavaScript
          source: {$ref: code/JS/scheduled.js}
        - lang: JavaScript
          label: NodeJS
          source: {$ref: code/Node/scheduled.js}
  /api/v1/regions:
    get:
      tags:
        - Registry
      summary: Regions
      description: List all the regions that can be impacted by Adobe Status Events.
      operationId: regionsUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RegionDto'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
        - lang: cURL
          label: CLI
          source: >-
            curl --location --request GET 'https://status.adobe.io/api/v1/regions?api_key=<key>' \
            --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: JavaScript
          source: {$ref: code/JS/regions.js}
        - lang: JavaScript
          label: NodeJS
          source: {$ref: code/Node/regions.js}
  /api/v1/locales:
    get:
      tags:
        - Registry
      summary: Locales
      description: >-
        List all the locales for the messages for an event impacting Adobe
        products.
      operationId: localesUsingGET
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocaleDto'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
        - lang: cURL
          label: CLI
          source: >-
            curl --location --request GET 'https://status.adobe.io/api/v1/locales?api_key=<key>' \
            --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: JavaScript
          source: {$ref: code/JS/locales.js}
        - lang: JavaScript
          label: NodeJS
          source: {$ref: code/Node/locales.js}
  /api/v1/messages:
    get:
      tags:
        - Registry
      summary: Messages
      description: List all the messages for an event impacting Adobe products.
      operationId: messagesUsingGET
      parameters:
        - name: messageToken
          in: query
          description: Message token for which you want to retrieve the messages.
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MessagesDto'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
        - lang: cURL
          label: CLI
          source: >-
            curl --location --request GET 'https://status.adobe.io/api/v1/messages?api_key=<key>' \
            --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: JavaScript
          source: {$ref: code/JS/messages.js}
        - lang: JavaScript
          label: NodeJS
          source: {$ref: code/Node/messages.js}
  /api/v1/messages/{locale}:
    get:
      tags:
        - Registry
      summary: Messages By Locale
      description: >-
        List all the messages for a locale, for an event impacting Adobe
        products.<br /> <b>Note:</b> Use Locales API(`/api/v1/locales`) to get
        supported locales
      operationId: messagesUsingGET_1
      parameters:
        - name: locale
          in: path
          description: Locale for fetching message details.
          required: true
          schema:
            type: string
        - name: messageToken
          in: query
          description: Message token for which you want to retrieve the messages.
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MessagesDto'
        '400':
          description: Bad Request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Internal Server Error
          content: {}
      x-codeSamples:
        - lang: cURL
          label: CLI
          source: >-
            curl --location --request GET 'https://status.adobe.io/api/v1/messages/es?api_key=<key>' \
            --header 'Authorization: Bearer <token>'
        - lang: JavaScript
          label: JavaScript
          source: {$ref: code/JS/messagesbylocale.js}
        - lang: JavaScript
          label: NodeJS
          source: {$ref: code/Node/messagesbylocale.js}
components:
  schemas:
    Cloud:
      title: Cloud
      type: object
      properties:
        cloudProducts:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/CloudProduct'
        id:
          type: string
        name:
          type: string
    CloudProduct:
      title: CloudProduct
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    Environment:
      title: Environment
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        regionId:
          uniqueItems: true
          type: array
          items:
            type: string
    Error:
      title: Error
      type: object
      properties:
        error_code:
          type: string
        message:
          type: string
    Event:
      title: Event
      type: object
      properties:
        incidents:
          type: array
          items:
            $ref: '#/components/schemas/IncidentDto'
        maintenances:
          type: array
          items:
            $ref: '#/components/schemas/MaintenanceDto'
    EventCapabilities:
      title: EventCapabilities
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        productServices:
          uniqueItems: true
          type: array
          items:
            type: string
    EventCloud:
      title: EventCloud
      type: object
      properties:
        cloudProducts:
          uniqueItems: true
          type: array
          items:
            type: string
        id:
          type: string
        name:
          type: string
    EventEnvironment:
      title: EventEnvironment
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        serviceRegions:
          uniqueItems: true
          type: array
          items:
            type: string
    EventOffering:
      title: EventOffering
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        productCapabilities:
          uniqueItems: true
          type: array
          items:
            type: string
        productServices:
          uniqueItems: true
          type: array
          items:
            type: string
    EventOfferingDto:
      title: EventOfferingDto
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        productServices:
          uniqueItems: true
          type: array
          items:
            type: string
    EventRegion:
      title: EventRegion
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    EventServices:
      title: EventServices
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        serviceEnvironments:
          uniqueItems: true
          type: array
          items:
            type: string
    Events:
      title: Events
      type: object
      properties:
        incidentEvent:
          $ref: '#/components/schemas/IncidentDetails'
        maintenanceEvent:
          $ref: '#/components/schemas/MaintenanceDetails'
    ImpactedServices:
      title: ImpactedServices
      type: object
      properties:
        productCapabilities:
          uniqueItems: true
          type: array
          items:
            type: string
        productOfferings:
          uniqueItems: true
          type: array
          items:
            type: string
        productServices:
          uniqueItems: true
          type: array
          items:
            type: string
    Incident:
      title: Incident
      type: object
      properties:
        capabilities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EventCapabilities'
        clouds:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EventCloud'
        environments:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EventEnvironment'
        id:
          type: string
        offerings:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EventOffering'
        products:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IncidentProduct'
        regions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EventRegion'
        services:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EventServices'
    IncidentDetails:
      title: IncidentDetails
      type: object
      properties:
        incidents:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Incident'
        messages:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/Message'
    IncidentDto:
      title: IncidentDto
      type: object
      properties:
        clouds:
          type: array
          items:
            $ref: '#/components/schemas/EventCloud'
        environment:
          type: array
          items:
            $ref: '#/components/schemas/EventEnvironment'
        id:
          type: string
        offering:
          type: array
          items:
            $ref: '#/components/schemas/EventOfferingDto'
        products:
          type: array
          items:
            $ref: '#/components/schemas/IncidentProductDto'
        region:
          type: array
          items:
            $ref: '#/components/schemas/EventRegion'
        services:
          type: array
          items:
            $ref: '#/components/schemas/EventServices'
    IncidentHistoryEvent:
      title: IncidentHistoryEvent
      required:
        - customerImpact
        - messageType
        - operationsImpact
        - previousCustomerImpact
        - previousOperationsImpact
        - previousSeverity
        - previousStatus
        - severity
        - showEnvironment
        - status
      type: object
      properties:
        cfsId:
          type: string
        cfsSource:
          type: string
        customerImpact:
          type: string
          enum:
            - Most
            - None
            - Some
            - Unknown
        id:
          type: string
        isEndDateChanged:
          type: boolean
        isStartDateChanged:
          type: boolean
        locationImpact:
          $ref: '#/components/schemas/LocationImpact'
        messageTime:
          minimum: 1
          exclusiveMinimum: false
          type: integer
          format: int64
        messageToken:
          type: string
        messageType:
          type: string
          enum:
            - CFS
            - Canned
            - Custom
            - None
        operationsImpact:
          type: string
          enum:
            - Availability
            - None
            - Performance
            - Unknown
        previousCustomerImpact:
          type: string
          enum:
            - Most
            - None
            - Some
            - Unknown
        previousOperationsImpact:
          type: string
          enum:
            - Availability
            - None
            - Performance
            - Unknown
        previousSeverity:
          type: string
          enum:
            - Major
            - Minor
            - None
            - Potential
            - Trivial
        previousStatus:
          type: string
          enum:
            - Closed
            - Discovery
            - Dismissed
            - None
            - Opened
        serviceImpact:
          $ref: '#/components/schemas/ImpactedServices'
        severity:
          type: string
          enum:
            - Major
            - Minor
            - None
            - Potential
            - Trivial
        showEnvironment:
          type: boolean
        status:
          type: string
          enum:
            - Closed
            - Discovery
            - Dismissed
            - None
            - Opened
        statusTime:
          type: integer
          format: int64
        titleToken:
          type: string
    IncidentHistoryEventDto:
      title: IncidentHistoryEventDto
      type: object
      properties:
        cfsId:
          type: string
        cfsSource:
          type: string
        cfsURL:
          type: string
        customerImpact:
          type: string
          enum:
            - Most
            - None
            - Some
            - Unknown
        id:
          type: string
        locationImpact:
          $ref: '#/components/schemas/LocationImpact'
        messageTime:
          type: string
        messageToken:
          type: string
        messageType:
          type: string
          enum:
            - CFS
            - Canned
            - Custom
            - None
        operationsImpact:
          type: string
          enum:
            - Availability
            - None
            - Performance
            - Unknown
        serviceImpact:
          $ref: '#/components/schemas/ImpactedServices'
        severity:
          type: string
          enum:
            - Major
            - Minor
            - None
            - Potential
            - Trivial
        showEnvironment:
          type: boolean
        status:
          type: string
          enum:
            - Closed
            - Discovery
            - Dismissed
            - None
            - Opened
        titleToken:
          type: string
    IncidentProduct:
      title: IncidentProduct
      type: object
      properties:
        endedOn:
          type: integer
          format: int64
        history:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IncidentHistoryEvent'
        id:
          type: string
        name:
          type: string
        startedOn:
          minimum: 1
          exclusiveMinimum: false
          type: integer
          format: int64
    IncidentProductDto:
      title: IncidentProductDto
      type: object
      properties:
        endedOn:
          type: string
        history:
          type: array
          items:
            $ref: '#/components/schemas/IncidentHistoryEventDto'
        id:
          type: string
        name:
          type: string
        severity:
          type: string
          enum:
            - Major
            - Minor
            - None
            - Potential
            - Trivial
        startedOn:
          type: string
        status:
          type: string
          enum:
            - Closed
            - Empty
            - Opened
    LocaleDto:
      title: LocaleDto
      type: object
      properties:
        languageName:
          type: string
        localeCode:
          type: string
    LocationImpact:
      title: LocationImpact
      type: object
      properties:
        serviceEnvironments:
          uniqueItems: true
          type: array
          items:
            type: string
        serviceRegions:
          uniqueItems: true
          type: array
          items:
            type: string
    Maintenance:
      title: Maintenance
      required:
        - cmrStatus
        - status
        - type
      type: object
      properties:
        capabilities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EventCapabilities'
        clouds:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EventCloud'
        cmrStatus:
          type: string
          enum:
            - Canceled
            - Completed
            - Empty
            - Scheduled
            - Started
        completedOn:
          minimum: 1
          exclusiveMinimum: false
          type: integer
          format: int64
        environments:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EventEnvironment'
        id:
          type: string
        offerings:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EventOffering'
        products:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/MaintenanceProduct'
        regions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EventRegion'
        reminderDate:
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int64
        scheduledDate:
          type: integer
          format: int64
        services:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EventServices'
        startedOn:
          minimum: 1
          exclusiveMinimum: false
          type: integer
          format: int64
        status:
          type: string
          enum:
            - Canceled
            - Completed
            - Empty
            - Scheduled
            - Started
        type:
          type: string
          enum:
            - Empty
            - Normal
            - Scheduled
            - Urgent
    MaintenanceDetails:
      title: MaintenanceDetails
      type: object
      properties:
        maintenance:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Maintenance'
        messages:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/Message'
    MaintenanceDto:
      title: MaintenanceDto
      type: object
      properties:
        clouds:
          type: array
          items:
            $ref: '#/components/schemas/EventCloud'
        completedOn:
          type: string
        environment:
          type: array
          items:
            $ref: '#/components/schemas/EventEnvironment'
        id:
          type: string
        maintenanceType:
          type: string
          enum:
            - Empty
            - Normal
            - Scheduled
            - Urgent
        offering:
          type: array
          items:
            $ref: '#/components/schemas/EventOfferingDto'
        products:
          type: array
          items:
            $ref: '#/components/schemas/MaintenanceProductDto'
        region:
          type: array
          items:
            $ref: '#/components/schemas/EventRegion'
        reminderDate:
          uniqueItems: true
          type: array
          items:
            type: string
        scheduledDate:
          type: string
        services:
          type: array
          items:
            $ref: '#/components/schemas/EventServices'
        startedOn:
          type: string
        status:
          type: string
          enum:
            - Canceled
            - Completed
            - Empty
            - Scheduled
            - Started
    MaintenanceHistoryEvent:
      title: MaintenanceHistoryEvent
      required:
        - customerImpact
        - messageType
        - operationsImpact
        - showEnvironment
        - status
      type: object
      properties:
        customerImpact:
          type: string
          enum:
            - Most
            - None
            - Some
            - Unknown
        id:
          type: string
        locationImpact:
          $ref: '#/components/schemas/LocationImpact'
        messageTime:
          minimum: 1
          exclusiveMinimum: false
          type: integer
          format: int64
        messageToken:
          type: string
        messageType:
          type: string
          enum:
            - Canned
            - Custom
        operationsImpact:
          type: string
          enum:
            - Availability
            - None
            - Performance
            - Unknown
        serviceImpact:
          $ref: '#/components/schemas/ImpactedServices'
        showEnvironment:
          type: boolean
        status:
          type: string
          enum:
            - Cancelled
            - Completed
            - Empty
            - Scheduled
            - Started
            - Updated
        titleToken:
          type: string
    MaintenanceProduct:
      title: MaintenanceProduct
      type: object
      properties:
        history:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/MaintenanceHistoryEvent'
        id:
          type: string
        name:
          type: string
    MaintenanceProductDto:
      title: MaintenanceProductDto
      type: object
      properties:
        history:
          type: array
          items:
            $ref: '#/components/schemas/MaintenanceHistoryEvent'
        id:
          type: string
        name:
          type: string
    Message:
      title: Message
      type: object
      properties:
        htmlMessage:
          type: string
        textMessage:
          type: string
        token:
          type: string
    MessagesDto:
      title: MessagesDto
      type: object
      properties:
        incidentMessages:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Message'
        languageCode:
          type: string
        maintenanceMessages:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Message'
    Offering:
      title: Offering
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        productServices:
          uniqueItems: true
          type: array
          items:
            type: string
    Product:
      title: Product
      type: object
      properties:
        environments:
          type: array
          items:
            $ref: '#/components/schemas/Environment'
        id:
          type: string
        name:
          type: string
        productOfferings:
          type: array
          items:
            $ref: '#/components/schemas/Offering'
        productServices:
          type: array
          items:
            $ref: '#/components/schemas/ProductService'
        regions:
          type: array
          items:
            $ref: '#/components/schemas/RegionDto'
    ProductService:
      title: ProductService
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        serviceEnvironments:
          uniqueItems: true
          type: array
          items:
            type: string
    RegionDto:
      title: RegionDto
      type: object
      properties:
        id:
          type: string
        name:
          type: string
  securitySchemes:
    Authorization:
      description: >-
        [To generate JWT Authorization
        token](https://developer.adobe.com/developer-console/docs/guides/authentication/JWT)
      type: http
      scheme: bearer
      bearerFormat: JWT
    api_key:
      type: apiKey
      description: Use the api key `StatusAdobeIOClient`
      name: api_key
      in: query
